Repository vedantmgoyal9/winget-pkgs-automation, pull requests merged in 2021-11, with the labels that each got.

#151 [YamlCreate] Add switch to override PR Check Setting
  scripts/YamlCreate.ps1
Labels: feat, automation

#152 Update workflows
  .github/labeler.yml
  .github/workflows/automation.yml
  .github/workflows/check-download-urls.yml
  .github/workflows/fetch-old-versions.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/powershell-analysis.yml
  .github/workflows/pre-validation.yml
Labels: automation

#154 Fix JetBrains scripts
  package_scripts/j/jetbrains.clion.eap.ps1
  package_scripts/j/jetbrains.clion.ps1
  package_scripts/j/jetbrains.datagrip.earlyaccess.ps1
  package_scripts/j/jetbrains.datagrip.ps1
  package_scripts/j/jetbrains.dataspell.earlypreview.ps1
  package_scripts/j/jetbrains.goland.earlyaccess.ps1
  package_scripts/j/jetbrains.goland.ps1
  package_scripts/j/jetbrains.hub.ps1
  package_scripts/j/jetbrains.intellijidea.community.eap.ps1
  package_scripts/j/jetbrains.intellijidea.community.ps1
  package_scripts/j/jetbrains.intellijidea.edu.ps1
  package_scripts/j/jetbrains.intellijidea.ultimate.eap.ps1
  package_scripts/j/jetbrains.intellijidea.ultimate.ps1
  package_scripts/j/jetbrains.mps.eap.ps1
  package_scripts/j/jetbrains.mps.ps1
  package_scripts/j/jetbrains.phpstorm.earlyaccess.ps1
  package_scripts/j/jetbrains.phpstorm.ps1
  package_scripts/j/jetbrains.pycharm.community.eap.ps1
  package_scripts/j/jetbrains.pycharm.community.ps1
  package_scripts/j/jetbrains.pycharm.professional.eap.ps1
  package_scripts/j/jetbrains.pycharm.professional.ps1
  package_scripts/j/jetbrains.rider.eap.ps1
  package_scripts/j/jetbrains.rider.ps1
  package_scripts/j/jetbrains.rubymine.earlyaccess.ps1
  package_scripts/j/jetbrains.rubymine.ps1
  package_scripts/j/jetbrains.teamcity.ps1
  package_scripts/j/jetbrains.toolbox.ps1
  package_scripts/j/jetbrains.webstorm.eap.ps1
  package_scripts/j/jetbrains.webstorm.ps1
  package_scripts/j/jetbrains.youtrack.ps1
  packages/j/jetbrains.clion.eap.json
  packages/j/jetbrains.clion.json
  packages/j/jetbrains.datagrip.earlyaccess.json
  packages/j/jetbrains.datagrip.json
  packages/j/jetbrains.dataspell.earlypreview.json
  packages/j/jetbrains.goland.earlyaccess.json
  packages/j/jetbrains.goland.json
  packages/j/jetbrains.hub.json
  packages/j/jetbrains.intellijidea.community.eap.json
  packages/j/jetbrains.intellijidea.community.json
  packages/j/jetbrains.intellijidea.edu.json
  packages/j/jetbrains.intellijidea.ultimate.eap.json
  packages/j/jetbrains.intellijidea.ultimate.json
  packages/j/jetbrains.mps.eap.json
  packages/j/jetbrains.mps.json
  packages/j/jetbrains.phpstorm.earlyaccess.json
  packages/j/jetbrains.phpstorm.json
  packages/j/jetbrains.pycharm.community.eap.json
  packages/j/jetbrains.pycharm.community.json
  packages/j/jetbrains.pycharm.professional.eap.json
  packages/j/jetbrains.pycharm.professional.json
  packages/j/jetbrains.rider.eap.json
  packages/j/jetbrains.rider.json
  packages/j/jetbrains.rubymine.earlyaccess.json
  packages/j/jetbrains.rubymine.json
  packages/j/jetbrains.teamcity.json
  packages/j/jetbrains.toolbox.json
  packages/j/jetbrains.webstorm.eap.json
  packages/j/jetbrains.webstorm.json
  packages/j/jetbrains.youtrack.json
Labels: packages

#155 Merge changes from development branch
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  packages/j/johannesmillan.superproductivity.json
  scripts/Automation.ps1
Labels: documentation, automation, packages

#159 Add Package: Badlion.BadlionClient
  package_scripts/b/badlion.badlionclient.ps1
  packages/b/badlion.badlionclient.json
Labels: packages

#183 Use Rest to Get Version
  package_scripts/b/bluejteam.bluej.ps1
Labels: bug-fix, packages

#187 Update files-community.files.json
  packages/f/files-community.files.json
Labels: packages

#194 add jellyfin.jellyfinserver
  package_scripts/j/jellyfin.jellyfinserver.ps1
  packages/j/jellyfin.jellyfinserver.json
Labels: packages

#195 Add Cybelsoft.DriversCloud
  package_scripts/c/cybelsoft.driverscloud.ps1
  packages/c/cybelsoft.driverscloud.json
Labels: packages

#196 Add Microsoft.OneDrive.*
  package_scripts/m/microsoft.onedrive.enterprise.ps1
  package_scripts/m/microsoft.onedrive.insiders.ps1
  package_scripts/m/microsoft.onedrive.internal.fast.ps1
  package_scripts/m/microsoft.onedrive.internal.slow.ps1
  package_scripts/m/microsoft.onedrive.ps1
  packages/m/microsoft.onedrive.enterprise.json
  packages/m/microsoft.onedrive.insiders.json
  packages/m/microsoft.onedrive.internal.fast.json
  packages/m/microsoft.onedrive.internal.slow.json
  packages/m/microsoft.onedrive.json
Labels: packages

#197 Add Microsoft.Teams.ContinuousDeployment
  package_scripts/m/microsoft.teams.continuousdeployment.ps1
  packages/m/microsoft.teams.continuousdeployment.json
Labels: packages

#199 Add packages from development branch
  package_scripts/a/alibaba.yuque.ps1
  package_scripts/b/bitcomet.bitcomet.ps1
  package_scripts/c/cctv.cbox.ps1
  package_scripts/e/element.element.ps1
  package_scripts/e/elgato.4kcaptureutility.ps1
  package_scripts/e/elgato.controlcenter.ps1
  package_scripts/e/elgato.epoccam.ps1
  package_scripts/e/elgato.gamecapture.hd.ps1
  package_scripts/e/elgato.streamdeck.ps1
  package_scripts/e/elgato.wavelink.ps1
  package_scripts/m/microsoft.onedrive.enterprise.ps1
  package_scripts/m/microsoft.onedrive.insiders.ps1
  package_scripts/m/microsoft.onedrive.internal.fast.ps1
  package_scripts/m/microsoft.onedrive.internal.slow.ps1
  package_scripts/m/microsoft.onedrive.ps1
  package_scripts/m/microsoft.teams.continuousdeployment.ps1
  package_scripts/s/sumatrapdf.sumatrapdf.ps1
  package_scripts/v/vmware.workstationplayer.ps1
  package_scripts/v/vmware.workstationpro.ps1
  packages/a/alibaba.yuque.json
  packages/b/bitcomet.bitcomet.json
  packages/c/cctv.cbox.json
  packages/e/element.element.json
  packages/e/elgato.4kcaptureutility.json
  packages/e/elgato.controlcenter.json
  packages/e/elgato.epoccam.json
  packages/e/elgato.gamecapture.hd.json
  packages/e/elgato.streamdeck.json
  packages/e/elgato.wavelink.json
  packages/m/microsoft.onedrive.enterprise.json
  packages/m/microsoft.onedrive.insiders.json
  packages/m/microsoft.onedrive.internal.fast.json
  packages/m/microsoft.onedrive.internal.slow.json
  packages/m/microsoft.onedrive.json
  packages/m/microsoft.teams.continuousdeployment.json
  packages/s/sumatrapdf.sumatrapdf.json
  packages/v/vmware.workstationplayer.json
  packages/v/vmware.workstationpro.json
Labels: packages

#201 Test Commit Validation
  .devcontainer/devcontainer.json
  .github/workflows/pre-validation.yml
  commitlint.config.js
Labels: feat, automation

#202 style(commits): follow conventional commits
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/pull_request_template.md
  .github/workflows/pre-validation.yml
  .gitignore
  scripts/.gitignore
Labels: automation
