Repository vedantmgoyal9/winget-pkgs-automation, pull requests merged in 2022-03, with the labels that each got.

#332 chore: Trim `release-` from PackageVersion for c0re100.qbittorrent-enhanced-edition
  winget-pkgs-automation/packages/c/c0re100.qbittorrent-enhanced-edition.json
Labels: wpa-packages

#333 chore: Trim `-preview` from PackageVersion for microsoft.wingetcreate
  winget-pkgs-automation/packages/m/microsoft.wingetcreate.json
Labels: wpa-packages

#338 Change Cube.CubePlatform InstallerUrls host
  winget-pkgs-automation/packages/c/cube.cubeplatform.json
Labels: wpa-packages

#344 chore: Add ChilliBits.Spice to the winget automation
  winget-pkgs-automation/packages.txt
  winget-pkgs-automation/packages/c/chillibits.spice.json
Labels: wpa-automation, wpa-packages

#343 Skip package requiring dependencies
  winget-pkgs-automation/packages/r/randomengy.vidcoder.json
Labels: wpa-packages

#341 Modify Nutstore.Nutstore, Tencent.TencentDocs and TominLab.WonderPen
  winget-pkgs-automation/packages.txt
  winget-pkgs-automation/packages/n/nutstore.nutstore.json
  winget-pkgs-automation/packages/t/tencent.tencentdocs.json
  winget-pkgs-automation/packages/t/tominlab.wonderpen.json
Labels: wpa-automation, wpa-packages

#326 feat(docs): add documentation for all projects
  docs/docs/_came_with_docusaurus_/intro.md
  docs/docs/_came_with_docusaurus_/tutorial-basics/_category_.json
  docs/docs/_came_with_docusaurus_/tutorial-basics/congratulations.md
  docs/docs/_came_with_docusaurus_/tutorial-basics/create-a-blog-post.md
  docs/docs/_came_with_docusaurus_/tutorial-basics/create-a-document.md
  docs/docs/_came_with_docusaurus_/tutorial-basics/create-a-page.md
  docs/docs/_came_with_docusaurus_/tutorial-basics/deploy-your-site.md
  docs/docs/_came_with_docusaurus_/tutorial-basics/markdown-features.mdx
  docs/docs/_came_with_docusaurus_/tutorial-extras/_category_.json
  docs/docs/_came_with_docusaurus_/tutorial-extras/manage-docs-versions.md
  docs/docs/_came_with_docusaurus_/tutorial-extras/translate-your-site.md
  docs/docs/about-me.mdx
  docs/docs/wpa-add-a-package.md
  docs/docs/wpa-intro.md
  docs/docs/wpa-scripts.md
  docs/docs/wpa-working.md
  docs/docs/wr-intro.md
  docs/docusaurus.config.js
  docs/functions/package-lock.json
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/_components_/HomepageFeatures/index.js
  docs/src/_components_/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/src/pages/index.module.css
  docs/static/img/README.md
  docs/static/img/_came_with_docusaurus_/docusaurus.png
  docs/static/img/_came_with_docusaurus_/favicon.ico
  docs/static/img/_came_with_docusaurus_/logo.svg
  docs/static/img/_came_with_docusaurus_/tutorial/docsVersionDropdown.png
  docs/static/img/_came_with_docusaurus_/tutorial/localeDropdown.png
  docs/static/img/_came_with_docusaurus_/undraw_docusaurus_mountain.svg
  docs/static/img/_came_with_docusaurus_/undraw_docusaurus_react.svg
  docs/static/img/_came_with_docusaurus_/undraw_docusaurus_tree.svg
  docs/static/img/actions.png
  docs/static/img/eat-sleep-code-repeat.gif
  docs/static/img/fintechtocat.png
  docs/static/img/icons8-git.svg
  docs/static/img/icons8-github.svg
  docs/static/img/icons8-google-firebase-console.svg
  docs/static/img/icons8-java.svg
  docs/static/img/icons8-javascript.svg
  docs/static/img/icons8-linux-30.png
  docs/static/img/icons8-powershell.svg
  docs/static/img/icons8-wordpress.svg
  docs/static/img/open-book_1f4d6.png
  docs/static/img/winget-automation-bot.png
  docs/static/manifest.json
  winget-pkgs-automation/README.md
  winget-pkgs-automation/scripts/README.md
Labels: documentation, wpa-automation

#349 fix(wpa-pkgs): SonicTeamJr.SonicRoboBlast2 - package version
  winget-pkgs-automation/packages/s/sonicteamjr.sonicroboblast2.json
Labels: wpa-packages

#351 fix(wpa-pkgs): RubyInstallerTeam.RubyWithDevKit - package version
  winget-pkgs-automation/packages/r/rubyinstallerteam.rubywithdevkit.json
Labels: wpa-packages
